export(
fdepth,
fds,
fts,
sfts,
fboxplot,
foutliers,
plot.fds,
lines.fds,
points.fds,
plot.fdepth,
SVDplot,
summaryfunction
)


S3method(plot,fdepth)
S3method(plot,fds)
S3method(lines,fds)
S3method(points,fds)
S3method(print,fds)
S3method(print,fts)
S3method(print,sfts)


import(grDevices)
import(ks)
import(stats)
import(hdrcde)
import(MASS)
import(pcaPP)
import(cluster)
import(colorspace)











